<div class='todo'>
    <%= form_for @list_item do |f| %>
        <%= f.label :title %>
        <%= f.text_field :title %>
        <br>    
        <%= f.label :description %>
        <%= f.text_field :description %>
        <br>
        <%= f.submit %>
    <% end %>

</div>
